body {
	margin: 			0;
	padding: 			0;
	font-family: 		'Teko', sans-serif;
}

article, aside, footer, header, section div {
	display: 			block;
}

h3 {
	font-size: 			30px;
	margin:				0;
}

p { 
	font-size: 			13px;
	letter-spacing: 	.2em;	
	font-family:		'Titillium Web', sans-serif;
 }

nav {
	position: 			fixed;
	width: 				100%;
	top: 				0;
	background-color: 	black;
	font-family:		'Titillium Web', sans-serif;
}


.logo {
	display: 			inline-block;
	background-color: 	red;
	color: 				white;
	margin-left: 		10%;
	padding:			10px;
	text-align: 		center;
	line-height: 		1.0em;		
}

.top {
	display: 			inline-block;
	text-decoration: 	none;
	color: 				white;
	padding: 			15px;
	font-size: 			1.10em;
}

.navigation {
	width: 				auto;
	float: 				right;
	margin-right: 		10%;
}

#header {
	text-align: 		center;
	margin: 			0 auto;	
	color: 				black;	
	width: 				100%;
	line-height: 		500%; 
	margin-top: 		88px;	
	background-color: 	black;
	color: 				white;
}

#header h1 {
	line-height: 		1;
	font-size: 			100px;
	width: 				70%;
	margin: 			0 auto;
	letter-spacing: 	.2em;
}

button {
	border:				1px solid white;
	padding: 			10px;
	width: 				25%;
	height: 			45px;
}

#header button {
	background-color: 	black;
	color: 				white;
}

#explore button {
	background-color: 	red;
	color: 				white;
	margin-bottom: 		5%;
}

#explore {
	text-align: 		center;
	margin: 			0 auto;	
	color: 				black;	
	width: 				65%; 	
	font-size: 			25px;
	line-height: 		1.5em;
	letter-spacing: 	.3em;
}

.red {
	display: 			table-cell;
	background-color: 	red;
	font-size: 			15px;
	padding: 			5% 20% 5% 5%;
	text-align: 		left;
	color: 				white;
	width: 				50%;
}

aside {
	display: 			table-cell;
	background-color: 	black;
	color: 				white;
	padding: 			0 20% 5% 5%;
	font-size: 			15px;
}

.topP	{
	margin-top: 		0;
}

.bottomP {
	margin-top: 		200px;
}

.showmore {
	background-color: 	black;
	text-align: 		center;
	font-weight: 		bold;
	color: 				white;
	padding: 			15px 0 15px 0;

}
.showmore hr {
	width: 				10%;
}

.features div {
	display: 			inline-block;
	width: 				35%;
	font-size: 			15px;
	text-align: 		left;
	padding: 			2%;
}

.features {
	padding-top:		3%;
	width: 				90%;
	text-align:			center;
	font-weight: 		bold;
}

.features i {
	color: 				red;
}

.features p {
	letter-spacing: 	.1em;
	font-size: 			15px;
	line-height: 		1.0em;
}

.social a {
	display: 			inline-block;
	width: 				20%;
	height: 			150px;
	color: 				white;
	background-color: 	black;
	margin: 			10px 5px;
	text-align: 		center;
	vertical-align: 	middle;
}




